{% extends 'trivia_parent.html.twig' %}

{% block title %}Hello TriviaController!{% endblock %}

{% block inner %}
<div class="example-wrapper">
    <h3>{{ question }}</h3>
    <form method="post">
        {% for answer in answers %}
            <input type="radio" {% if loop.index == 1 %} checked {% endif %} name="answer" value="{{ answer }}">{{ answer }}
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
    <span>{{ iterations }} / {{ maxIterations }}</span>
</div>
{% endblock %}
